#commento.commento-root .commento-login-box-container .commento-login-box {
  top: 0;
  width: 100%;
  max-width: 100%;
}

#commento.commento-root {
  min-height: 430px;
}

#commento.commento-root textarea::placeholder {
  display: none;
}

#commento.commento-root textarea {
  min-width: 100%;
}

#commento.commento-root .commento-markdown-button, #commento button {
  user-select: none;
}

#commento.commento-root .commento-submit-button {
  margin-right: 0;
  box-shadow: none;
  background: #006fd0;
  padding: 6px 10px;
}

#commento.commento-root .#commento-login {
  display: flex;
  justify-content: flex-end;
}

#commento.commento-root .commento-login .commento-login-text {
  margin: 0;
  padding: 8px 0 8px 8px;
  font-weight: 600;
}

#commento.commento-root .commento-footer {
  padding-right: 0;
}

#commento.commento-root .commento-footer .commento-logo-container .commento-logo {
  padding-right: 0;
  opacity: .5;
}

#commento.commento-root .commento-red-border {
  border: 1px solid #de5252;
}

#commento.commento-root .commento-markdown-help {
  width: 100%;
}

#commento.commento-root .commento-card {
  padding-left: 0;
  border-left: none !important;
}

@media screen and (max-width: 520px) {
  #commento #commento-markdown-button-root {
    display: none;
  }
}
